@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Montserrat:wght@200;400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('/images/1.jpg') no-repeat center center/cover  ;
}
body { 
    padding: 40px;
    background-color: rgb(6, 15, 22);
    color:white;
    font-family: 'Fragment Mono', monospace;
    font-family: 'Montserrat', sans-serif;
}
.header{
    padding-top:12px ;
    padding-bottom: 12px;
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    background-color:rgba(6, 15, 22, 0.7);
    display: flex;
    justify-content:space-evenly;
    z-index: 10;
}
.headerCenter{
    display:flex;
    justify-content: space-between;
    width: 50vw;
}
.content{
    
    position: absolute;
    bottom: 100px;
    margin-left: 10%;
}
 button{
    border-color: rgb(6, 15, 22);
    background: none;
    color: white;
    cursor: pointer;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar{
    position: absolute;
    right: 100px;
    top: 230px;
}
.navbar button{
    border-radius: 3px;
    font-size: 65px;
    padding: 10px;
    color: rgb(6, 15, 22)
    
    
}
.loadingbar{
    position: absolute;
    bottom:30px;
    right: 50px;
    display: flex;
    flex-direction:row;
    font-size:32px;
    font-weight:900

}
.content h1 p span{
    color: rgb(6, 15, 22);
    background-color: white;
}
.content button , .headerRight button{
   padding: 5px; 
   align-items: center;
   transition: color 0.15s,background-color 0.15s
   
}
.headerLeft h3,.headerLeft p{
    margin: 0;
}
.headerLeft h3{
    position: absolute;
    top: 5px;
    left: 65px;
}
.headerLeft p{
    position: absolute;
    bottom: 5px;
    left: 50px;

}
.headerRight button{
    border-radius: 3px;
    padding: 5px; 
    align-items: center;
    position: absolute;
    bottom: 5.5px;
    cursor: pointer;
    transition: color 0.15s,background-color 0.15s border 0.15s;
} 
 button:hover{
    color: rgb(6, 15, 22);
    background-color: white;
    /* border-color: white; */

}
 button:active{
    opacity: 0.5;

}
.loadingbar .bold{
    color: rgb(6, 15, 22);

}
.loadingbar .light,.light, .lighter,.lightest{
    color: rgb(29, 50, 80);
}